
<section class="show_page">
  <h2 class="title_header"><%= @book[:title] %><h2>
  <h3 class="author_header"><%= @book[:author] %><h3>
  <h4 class="description_text"><%= @book[:description] %></h4>
</section>
